.div{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-end;
    max-height: 400px; 
    min-width: 120px;
    background-color: inherit;
}
.product-img{
    height: 100%;
    width: 100%;
}
